
<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!-- Bootstrap CSS -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
              rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
            <title>Super Sightings</title>
    </head>

    <body>


        <div class="container">

            <div class="navbar">
                <ul class="nav nav-tabs">
                    <li role="presentation" class="nav-item">
                        <a class="nav-link" href="home">
                            Home
                        </a>
                    </li>

                    <li role="presentation" class="nav-item">
                        <a class="nav-link active" href="organization">
                            Organizations
                        </a>
                    </li>
                    <li role="presentation" class="nav-item">
                        <a class="nav-link" href="super">
                            Supers
                        </a>
                    </li>
                    <li role="presentation" class="nav-item">
                        <a class="nav-link" href="sighting">
                            Sightings
                        </a>
                    </li>
                    <li role="presentation" class="nav-item">
                        <a class="nav-link" href="power">
                            Powers
                        </a>        
                    </li>
                    <li role="presentation" class="nav-item">
                        <a class="nav-link" href="location">
                            Locations
                        </a>
                    </li>
                </ul>
            </div>



            <div class="row m-4 border border-dark">
                <div class="col-3 text-center m-3">
                    <span class="h2">New Organization!</span>
                </div>
            </div>


            <div class="col-7 text-center m-3">
                <form method="POST" action="addOrganization">
                    <div class="form-group row">
                        <label for="orgName" class="col-3 col-form-label">Organization</label>
                        <div class="col-9">
                            <input type="text" name="orgName" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="description" class="col-3 col-form-label">Description</label>
                        <div class="col-9">
                            <input type="text" name="description" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="address" class="col-3 col-form-label">Address</label>
                        <div class="col-9">
                            <input type="text" name="address" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="phone" class="col-3 col-form-label">Phone</label>
                        <div class="col-9">
                            <input type="text" name="phone" class="form-control"/>
                        </div>
                    </div>
                   
                    <br/>
                    <label>Add Members:   
                          
                            <fieldset  th:each="super : ${supers}">
                                <input name="superIds" th:text="${super.superName}" th:value="${super.superId}" type="checkbox" />                           
                            </fieldset>
                    </label>
                <br/>
                         <button type="submit">Start New Organization!</button>
                    <br/>
                    <br/>
                </form>
            </div>


            <!--        dropdown for show all members by organization-->


        </div>


        





        <script src="https://code.jquery.com/jquery-3.4.1.js"
                integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js" 
        integrity="sha256-/ijcOLwFf26xEYAjW75FizKVo5tnTYiQddPZoLUHHZ8=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" 
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>

