<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!-- Bootstrap CSS -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
              rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
            <title>Super Sightings</title>
    </head>

    <body>


        <div class="container">

            <div class="navbar">
                <ul class="nav nav-tabs">
                    <li role="presentation" class="nav-item">
                        <a class="nav-link" href="home">
                            Home
                        </a>
                    </li>

                    <li role="presentation" class="nav-item">
                        <a class="nav-link" href="organization">
                            Organizations
                        </a>
                    </li>
                    <li role="presentation" class="nav-item">
                        <a class="nav-link" href="super">
                            Supers
                        </a>
                    </li>
                    <li role="presentation" class="nav-item">
                        <a class="nav-link" href="sighting">
                            Sightings
                        </a>
                    </li>
                    <li role="presentation" class="nav-item">
                        <a class="nav-link" href="power">
                            Powers
                        </a>
                    </li>
                    <li role="presentation" class="nav-item">
                        <a class="nav-link  active" href="location">
                            Locations
                        </a>
                    </li>
                </ul>
            </div>


           
            <div class="row m-4">
                <div class="col text-center m-3">
                    <table class="table" >
                        <thead>
                            <tr>
                                <th>Address</th>
                                <th>Latitude</th>
                                <th>Longitude</th>
                                <th>Edit</th>
                                <th>Delete</th>
                                
                               
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="location : ${locations}">
                               
                                <td> <a th:text="${location.address}"  th:href="@{/viewLocation(id=${location.locationId})}"></a></td>
                                <td th:text="${location.latitude}">Latitude</td>
                                <td th:text="${location.longitude}">Longitude</td>
                                <td><a href="#" th:href="@{/updateLocation(id=${location.locationId})}">Edit</a></td>
                                <td><a href="#" th:href="@{/deleteLocation(id=${location.locationId})}">Delete</a></td>
                                
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div align ="right">
                <a class="nav-link" href="addLocation"><h2>Add Location</h2></a>
              

        </div>

        <script src="https://code.jquery.com/jquery-3.4.1.js"
                integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js" 
        integrity="sha256-/ijcOLwFf26xEYAjW75FizKVo5tnTYiQddPZoLUHHZ8=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" 
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>

