<!--                    THIS PAGE IS NOT IN SERVICE-->
<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!-- Bootstrap CSS -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
              rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
            <link href="css/chrislist.css" rel="stylesheet" type="text/css">
            <title>ChrisList : Account</title>
    </head>
    <body>
        <div class="container">
            <h1>ChrisList</h1>
            <hr/>
            <div class="navbar">
                <ul class="nav nav-tabs">
                    <li role="presentation" class="nav-item">
                        <a class="nav-link active" href="home">
                            Home
                        </a>
                    </li>
                    
<!--                    THIS PAGE IS NOT IN SERVICE-->
                    
                    <!--                    <li role="presentation" class="nav-item">
                                            <a class="nav-link" href="content">
                                                Content (must have the user role)
                                            </a>
                                        </li>
                                        <li role="presentation" class="nav-item">
                                            <a class="nav-link" href="admin">
                                                Admin (must have the admin role)
                                            </a>
                                        </li>-->
                </ul>
            </div>
            <h2>Account</h2>
            <div sec:authorize="isAuthenticated()">
                <form class="form-inline"
                      method="POST"
                      action="/logout">
                    <input type="hidden"
                           th:name="${_csrf.parameterName}"
                           th:value="${_csrf.token}"/>
                    <label for="submit">
                        Hello : &nbsp; <span th:text="${#authentication.name}"> </span>&nbsp;&nbsp;&nbsp;|                       
                    </label>
                    <button class="btn btn-link" type="submit">Logout</button>
                </form>
            </div>

            <div class="col-md-10">
                <p>
                    This will display a particular user's information via thymeleaf
                    Offer a button to edit account information
                </p>
            <div class="row" th:text=""    

            </div>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.js"
                integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js" 
        integrity="sha256-/ijcOLwFf26xEYAjW75FizKVo5tnTYiQddPZoLUHHZ8=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" 
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>
